<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Similarity Results</h1>
    </header>
    <main>
        <ul>
            {% for song_name, genre in similar_embeddings %}
            <li>{{ song_name }}: {{genre}}</li>
            {% endfor %}
        </ul>
        <a href="/">Back</a>
    </main>
    <footer>
        <p>&copy; 2024 NeuraBeat</p>
    </footer>
</body>
</html>
