<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Similarity Results</h1>
    </header>
    <main>
        <ul>
            {% for song_name, genre, s3_url, distance in embeddings_with_distances %}
            <li>
                {{ song_name }}: {{genre}}: {{distance}}
                <audio controls>
                    <source src="{{ s3_url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
            {% endfor %}
        </ul>
        <a href="/">Back</a>
    </main>
    <footer>
        <p>&copy; 2024 NeuraBeat</p>
    </footer>
</body>
</html>
