<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuraBeat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>NeuraBeat v0.3.0</h1>
    </header>
    <main>
        <form method="POST" enctype="multipart/form-data" action="/process_file" id="upload-form">
            <div class="drop-zone" id="drop-zone">Drag and drop a file here or click to select one</div>
            <input type="file" name="audio" id="audio" accept=".mp3" style="display: none;">
            <input type="submit" name="action" value="Embed" class="button">
        </form>
        <p class="error-message" id="error-message">No file was uploaded. Please try again.</p>
    </main>
    <footer>
        <p>&copy; 2024 NeuraBeat</p>
    </footer>
    <script>
        const uploadForm = document.getElementById('upload-form');
        const errorMessage = document.getElementById('error-message');
        const dropZone = document.getElementById('drop-zone');
        const fileInput = document.getElementById('audio');

        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.classList.add('dragover');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragover');
        });

        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.classList.remove('dragover');
            const files = event.dataTransfer.files;
            if (files.length > 0) {
                fileInput.files = files;
                updateDropZoneText(files[0].name);
            }
        });

        fileInput.addEventListener('change', () => {
            const files = fileInput.files;
            if (files.length > 0) {
                updateDropZoneText(files[0].name);
            }
        });

        function updateDropZoneText(fileName) {
            dropZone.textContent = fileName;
        }

        uploadForm.addEventListener('submit', (event) => {
            if (!fileInput.files.length) {
                event.preventDefault();
                errorMessage.style.display = 'block';
            } else {
                errorMessage.style.display = 'none';
            }
        });

        function resetDropZone() {
            dropZone.textContent = 'Drag and drop a file here or click to select one';
            fileInput.value = '';
        }

        window.addEventListener('load', () => {
            resetDropZone();
        });

        window.addEventListener('pageshow', () => {
            resetDropZone();
        });
    </script>
</body>
</html>
